.login-page h1 {
    color: black;
}

.login-page label {
    color: black;
}

.login-page input {
    background-color: var(--white);
    color: black
}

.signup-link {
    margin-top: 30px;
}

.signup-button {
    margin-bottom: 30px;
}



