.signup-page h1 {
    color: black;
}

.signup-page label {
    color: black;
}

.signup-page input {
    background-color: white;
    color: black;
}

.signup-page button {
    margin-bottom: 30px;
}