.Navbar {
    background-color: var(--white);
    outline: solid 1px black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    left:0;
    width: 100%;
    padding-top: 10px;
    
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 1;
  }

  .logo{
    order: -1;
    left: 0;
   
  }
  img {
    max-height: 40px;
  }

  .navbar-buttons{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    gap: 10px;
  
  }

  .hamburger-logo {
    display: none;
  }

    @media (max-width: 768px) {
      .Navbar {
        display: flex;
        justify-content: space-between;
  
      }

      .navbar-buttons {
        display: none;
      }

      .hamburger-logo {
        height: 32px;
        display: inline-block;
        padding-right: 16px;
      }

      .hamburger-nav {
        border-style: solid;
        border-color: black;
        border-width: 1px;      
      }

      .hamburger-nav ul > li > a {
        color: black
      }

    }