:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--white);

  
  /* Colors */
  --black: #2b3534;
  --dark-green: #0a4b3f;
  --grey: #708a88;
  --white: #FFF;
 


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p{
  color: var(--black);
 font-size: 1.3rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: var(--dark-green); */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--white);
  background-color: var(--grey);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

}

/* UserPage and BookingsListUser */
.profile-header {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.profile {
  text-align: left;
  margin-left: 40px;
}

.profile p:nth-child(1){
  font-size: 32px;
}



.booking-header {
  text-align: left;
  margin-left: 40px;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.bookings-list-user {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;

}

.booking-container {
  text-align: left;
  padding: 20px;
  margin-bottom: 10px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.booking-container div:nth-child(2) {
  text-align: right;
}

.booking-container div:nth-child(2) p {
  font-style: italic;
}

/* BookingDetailsPage */
.booking-details-container {
  background-color: var(--white);
  border-radius: 8px;
  margin: 40px 20px;
  padding: 20px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.booking-details-container h3:nth-child(1) {
  font-style: italic;
}

.edit-booking-button {
  margin-right: 10px;
}

.cancel-booking-button {
  margin-left: 10px;
}

/* EditBookingDetailsPage */
.form-container-edit-booking {
  background-color: var(--white);
  color: black;
  border-radius: 8px;
  margin: 40px;
  padding: 20px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-container-edit-booking label {
  display: block;
  color: black;
  font-size: 16px;
}

.form-container-edit-booking label input {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 10px
}

.form-container-edit-booking button {
  margin-top: 24px;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

/* Create Performance Page*/
.form-container-create-performance {
  background-color: var(--white);
  color: black;
  border-radius: 8px;
  margin: 40px;
  padding: 20px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-container-create-performance label {
  display: block;
  color: black;
  font-size: 16px;
}

.form-container-create-performance label input {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 10px
}

.form-container-create-performance button {
  margin-top: 24px;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}


/* Create Artist Page */

.form-container-create-artist {
  background-color: var(--white);
  color: black;
  border-radius: 8px;
  margin: 40px;
  padding: 20px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-container-create-artist label {
  display: block;
  color: black;
  font-size: 16px;
}

.form-container-create-artist label input {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 10px
}

.form-container-create-artist button {
  margin-top: 24px;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}


/* Edit Performance Page */
.form-container-edit-performance {
  background-color: var(--white);
  color: black;
  border-radius: 8px;
  margin: 40px;
  padding: 20px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.form-container-edit-performance label {
  display: block;
  color: black;
  font-size: 16px;
}

.form-container-edit-performance label input {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 10px
}

.form-container-edit-performance button {
  margin-top: 24px;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
}

.update-details-button {
  margin-bottom: 8px;
  margin-right: 8px;
}
